<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name = "Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name = "collections" xsi:type="array">
                <item name = "radicle_author_grid_data_source" xsi:type="string">Radicle\FirstModule\Model\ResourceModel\Author\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Radicle\FirstModule\Model\ResourceModel\Author\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">first_table</argument>
            <argument name="resourceModel" xsi:type="string">Radicle\FirstModule\Model\ResourceModel\Author</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Customer\Block\Form\Register">
        <plugin name="set_default_values" type="Radicle\FirstModule\Model\SetDefaultFormValue" sortOrder="1" />
    </type>

    <type name="Magento\Checkout\Controller\Cart\Add">
        <plugin name="change_success_message_cart" type="Radicle\FirstModule\Model\ChangeSuccessMessage" sortOrder="10"/>
    </type>

    <preference for = "Radicle\FirstModule\Api\Data\AuthorInterface" type = "Radicle\FirstModule\Model\Author"></preference>
    <preference for = "Radicle\FirstModule\Api\AuthorRepositoryInterface" type = "Radicle\FirstModule\Model\AuthorRepository"></preference>

<!--    <type name="Magento\Checkout\Model\Cart">-->
<!--        <plugin name="beforeAddtoCart" type = "Radicle\FirstModule\Plugin\Cart" sortOrder="1" />-->
<!--    </type>-->

<!--    <type name="Magento\Catalog\Model\Product">-->
<!--        <plugin name="afterProductName" type = "Radicle\FirstModule\Plugin\Product" sortOrder="1" />-->
<!--    </type>-->

<!--    <type name="Magento\Checkout\Model\Cart">-->
<!--        <plugin name="aroundAddtoCart" type = "Radicle\FirstModule\Plugin\Cart" sortOrder="1" />-->
<!--    </type>-->

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="radicleAddAuthors" xsi:type="object">Radicle\FirstModule\Console\Command\AddAuthor</item>
            </argument>
        </arguments>
    </type>

</config>
