<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <menu>
        <add
            id="Mastering_SampleModule::mastering"
            title="Mastering"
            module="Mastering_SampleModule"
            sortOrder="900"
            resource="Mastering_SampleModule::mastering"
            translate = "title"
            action = "mastering"
        />
    </menu>
</config>
